.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #C5E4E7;

}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #00474B;
    padding: 3em;
    font-weight: bold;
    font-size: 20px;
    white-space: pre-line;
}
.container
{
    background-color: white;
    width: 670px;
    height: 275px;
    left: 20%;
    right: 20%;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    margin: auto ;
}
.afficheur {
    background-color: #00474B;
    flex-basis: 45%;
    border-radius: 15px;
    margin: 2% 1%;
    padding: 3vh;
    position: relative;
}
.donnees  {
    background-color: rgb(255, 255, 255);
    flex-basis: 45%;
    margin: 2% 0;
}

span {
    color: #00474B;
}
.Bill input {
    text-align: right;
    display: block;
    height: 1.5em;
    width: 100%;
    margin-top: 5px;   
    margin-bottom: 25px;
    background-color: #F3F8FB;
    border-color: #F3F8FB;
    border-top-style: hidden;
    border-left-style: hidden;
    border-radius: 7px;
    font-size: 20px;
    background: url(images/icon-dollar.svg) no-repeat left center;
}
input:focus {
    outline-color: #C5E4E7 ;
}
.input-container img {
    display: inline;
}
.Tip-container {
    margin-top: 5px;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    width: 20.5em;    
    margin-bottom: 25px;

}
.Tip-container input {
    text-align: center;
    display: block;
    background-color:#00474B;
    color: white;
    border-top-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-right-style: hidden;
    border-radius: 7px;
    font-size: 20px;
}
.Tip input[type=text] {
    background-color: #C5E4E7;
    color: #00474B;
}
input[type=button]:hover {
    cursor: pointer;
}
input.selected {
    color: #00474B;
    background-color: #26C2AD;
}

.People input {
    text-align: right;
    display: block;
    height: 1.5em;
    width: 100%;
    margin-top: 5px;   
    margin-bottom: 25px;
    background-color: #26C2AD;
    border-color: #F3F8FB;
    border-top-style: hidden;
    border-left-style: hidden;
    border-radius: 7px;
    font-size: 20px;
    background: url(images/icon-person.svg) no-repeat left center;
}
.Tip-Per-Person-Section div {
    display: inline;
}
.Total-Per-Person-Section div {
    display: inline;
}
.Tip-value {
    color: #26C2AD;
    font-weight: bold;
    font-size: 35px;
    float: right;
    clear: right;
}
.Total-value {
    color: #26C2AD;
    font-weight: bold;
    font-size: 35px;
    float: right;
    clear: right;
}
.Tip-Text {
    color: white;
}
.Tip-Text span {
    color:#26C2AD;
}
.Total-Text {
    color: white;
}
.Total-Text span {
    color:#26C2AD;
}
.Total-Per-Person-Section {
    margin-top: 40px;
}
button {
    position: absolute;
    bottom: 0;
    margin-bottom: 2vh;
    width: 88%;
    height: 2.5em;
    background-color: #26C2AD;
    color:#00474B;
    font-size: 16px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-right-style: hidden;
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
}
#calculate-button { 
    bottom: 7vh;
}
#zero {
    float: right;
    color:#798e90 ;
    display: none;
 
}

@media (max-width: 700px){

    footer {
        font-size: 37px;
        margin-left: 39%;
        font-weight: 500;
    }
    .Tip-container {
        grid-template-rows: 50% 50% 50%;
        grid-template-columns: 50% 50% ;
        grid-gap: 10px;
        justify-content: space-between;
        width: 100%;    
    }

    .container {
        flex-direction: column;
        justify-content: space-between;
        height: 113vh;
        width: 100%;
        margin: 0;
        border: 1px white;
        padding: 3vh;
    }

    .People {
        margin-top: 6em;
    }
    

}